@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	list-style:none;
	text-decoration:none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	outline: none;
}
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	--primary-color: #d61a19;
	--active-menu-bg-color: rgb(225, 225, 225);
	--dark-bg-color: #e3e3e3;
	--bg-color: #f7f7f7;
	--text-color: #222;
	--light-text-color: #5d5b5b;
	--menu-bg-color: #fff;
	--overlay-bg-color: #0006;
	--tab-menu-text-color: #222;
	--tap-bg-filter: none;
	--progress-inactive-color: #ccc;
	--container-color: #fffc;
	--pattern-filter: none;
	--dark-bg-color: #fff;
	--header-bg-color: #fff;
	--tile-color: #EEF1F6;
	--tile-shadow: -10px -10px 30px 0px #FFF, 10px 10px 20px 0px rgba(87, 108, 144, 0.33);
	--dark-alt-bg-color: #fff;
	--alt-wrapper-color: #6b1514;
}

/* Define the dark theme */
.dark-theme {
	--bg-color: #121E2A;
	--active-menu-bg-color: rgb(64, 44, 26);
	--dark-bg-color: #171514;
	--text-color: #fff;
	--light-text-color: #F8F9FA;
	--primary-color: #d61a19;
	--menu-bg-color: rgba(23, 21, 20, 1);
	/* --overlay-bg-color: rgba(255, 255, 255, 0.467); */
	--container-color: linear-gradient(0deg, rgba(7,42,73,0.9) 0%, rgba(5,21,35,0.9) 100%);
	--overlay-bg-color: #000c;
	--tab-menu-text-color: #fff;
	--progress-inactive-color: #fff;
	--tap-bg-filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
	--pattern-filter: brightness(0) invert(1);
	--dark-bg-color: #121E2A;
	--header-bg-color: #051523;
	--tile-color: #121f2d;
	--tile-shadow: -10px -10px 30px 0px #051523, 10px 10px 20px 0px rgb(24, 42, 59);
	--dark-alt-bg-color: #0a121b;
	--alt-wrapper-color: #0a121b;
}

h1, h2, h3 {
	font-size: 1.2em;
}

a {
	color: #0F4674;
}
body {
	background: var(--bg-color);
	max-width: 100vw;
}
img {
	display: block;
	max-width: 100%;

}



form .form-response {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	max-width: 480px;
}
form .form-response  span {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 15px 10px;
	background: #cfc;
	font-size: 14px;
	text-transform: unset;
	font-weight: 400;
	color: #060;
	border-radius: 3px;
}
form .form-response  span.error {
	background: #fcc;
	color: #600;
}


.form-loader {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #2225;
}
.form-loader::before {
	content: "";
	display: block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 3px solid #2226;
	border-top-color: var(--primary-color);
	animation: form_loader 0.5s linear infinite;
}

.btn-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: transparent !important;
}


.btn-loader::before {
	content: "";
	display: block;
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 3px solid #2226;
	border-top-color: #fff;
	margin: auto;
	animation: form_loader 0.5s linear infinite;
}

@keyframes form_loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}




.lofty-message-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: var(--overlay-bg-color);
	top: 0px;
	left: 0px;
	z-index: 999999999999999999999;
	animation: fade_indicator 0.3s linear 1;
}

.lofty-message-wrapper-out {
	animation: fade_indicator_out 0.3s linear 1;
}

.lofty-message-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	gap: 10px;
	width: 100%;
	max-width: 420px;
	min-height: 60px;
	padding: 30px 20px;
	background: var(--bg-color);
	border-radius: 10px;
	color: var(--text-color);
	font-size: 14px;
	font-weight: 500;
	animation: slideMessage 0.3s linear 1;
}
.lofty-message-wrapper-out .lofty-message-box {
	animation: slideMessageOut 0.3s linear 1;
}
.lofty-message-box i {
	font-size: 40px;
	color: #fff;
	margin-bottom: 4px;
}

.lofty-message-box h2 {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 500;
}
.lofty-message-box span {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
}

.lofty-message-box button {
	width: 100%;
	max-width: 200px;
	height: 45px;
	border-radius: 8px;
	color: #fff;
	border: none;
	background-color: #ff7900;
	cursor: pointer;
}

.lofty-message-success i {
	color: #0a0;
}

.lofty-message-error i {
	color: #a00;
}

@keyframes fade_indicator {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes fade_indicator_out {
	0% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}

  
@keyframes slideMessage {
	0% {
		top: -20px;
		opacity: 0.5;
	}

	100% {
		top: 0px;
		opacity: 1;
	}
}

@keyframes slideMessageOut {
	0% {
		top: 0px;
		opacity: 1;
	}
	100% {
		top: -20px;
		opacity: 0;
	}
}